.cat-cards{
    height: 200px;
}

Button.cat-card-delete {
   position: absolute;
   right: 0px;
   bottom: 0px;
   
}

Button.cat-card-edit {
    position: absolute;
    right: 50px;
    bottom: 0px;
    
 }

 Button.cat-create-buttn {
    position: relative;
    top:0px;
    left: 0px;
 }